body { 
  background-image: url("https://cdn.pixabay.com/photo/2018/01/23/19/33/desktop-3102213__480.jpg");
  color: #000;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 23px;
}
  
h1 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    text-align: center;
  }
  
  .instructions {
    text-align: center; 
  }

